<mat-card style="text-align: center" class="col-md-6 offset-3 mt20">

  <h1><b>Md. Tanver Ahammed</b></h1>
  <h3>Java & Angular Developer (Full-Stack)</h3>

  <mat-card-actions align="start">
    <div class="container col-md-5">
      <ul>
        <img src="/assets/Tanver.jpg" height="300" width="270"/><br><br>
        <li><a href="https://www.facebook.com/md.tanver.ahammed.756/" target="_blank"><b>Facebook</b></a></li>
        <li><a href="https://www.linkedin.com/in/md-tanver-ahammed-1968211b8/"
               target="_blank"><b>LinkedIn</b></a></li>
        <li><a href="https://github.com/Tanver-Ahammed" target="_blank"><b>Github</b></a></li>
      </ul>
    </div>

  </mat-card-actions>
  <mat-card-content>
    Hi, I am Tanver Ahammed. I am a Java & Angular Developer(Full-Stack).
    I am Md. Tanver Ahammad. I am a Java Developer and Problem solver.
    I work in JavaEE, Hibernate, Spring and Angular Framework.

    Experience 1 year <a href="https://www.pondit.com/">PONDIT</a>(Training)
  </mat-card-content>
  <mat-card-footer>
    <a mat-raised-button
       href="https://drive.google.com/drive/u/0/folders/1TRF2s7W4yXStEyVeZAG_bna_25D2m9eG" target="_blank" color="primary">MY CV
    </a>
  </mat-card-footer>
</mat-card>
