<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt-0">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../../assets/forgot-password.png"
                 style="height: 150px; width: 150px" alt="">
          </div>
          <h1 class="text-center">Forget Password</h1>

          <form (ngSubmit)="forgetEmailSubmit()">

            <!--username field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter Your Email</mat-label>
              <input
                [(ngModel)]="user.email"
                name="email"
                type="email"
                required
                matInput
                placeholder="Enter Here">
              <mat-hint>valid username</mat-hint>
            </mat-form-field>

            <div class="container text-center">
              <div class="example-button-row">
                <button mat-raised-button type="submit" color="primary">Submit</button>
                <button mat-raised-button type="reset" color="accent" class="m-lg-2">Reset</button>
              </div>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!--{{user | json}}-->
