<mat-card *ngIf="user">
  <h1>Your Profile</h1>
  <!--  {{user|json}}-->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img
            src="https://media-exp1.licdn.com/dms/image/C5603AQEtXpRSLa4_Hg/profile-displayphoto-shrink_200_200/0/1601408246779?e=1668643200&v=beta&t=CX6STy90NLPlgcGulQrJhq-hNSg9G7-4bov-tvK4S-0"
            alt="Profile Image"
            class="profile-image"
          >
          <h1 class="mt20">{{user.firstName}} {{user.lastName}} </h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="profile-table">
              <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>User Id</td>
                <td>USER-{{user.id}}</td>
              </tr>
              <tr *ngIf="user.studentId">
                <td>Student ID</td>
                <td>{{user.studentId}}</td>
              </tr>
              <tr *ngIf="user.batch">
                <td>Student Batch</td>
                <td>{{user.batch}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{user.phone}}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{user.roles[0].roleName}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{user.enable ? "ACTIVE" : "NOT ACTIVE"}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-raised-button color="primary">UPDATE</button>
    <button mat-raised-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
