<div class="bootstrap" style="background-color: #cafff7">
  <div class="container">
    <div class="row">

      <mat-card>
        <mat-card-content style="text-align: center">
          <h1>
            <mat-card-title>Welcome To ICT Quiz App</mat-card-title>
          </h1>
          <h3>Here, All of Student in ICT Department are use this quiz App</h3>
          <img src="assets/Quiz01.jpg" style="opacity: .50" alt="">
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>

