<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt-0">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../../assets/Login.png"
                 style="height: 150px; width: 150px" alt="">
          </div>
          <h1 class="text-center">Login Here</h1>

<!--          {{loginData | json}}-->

          <form (ngSubmit)="loginFormSubmit()" action="#">

            <!--username field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                [(ngModel)]="loginData.username"
                name="username"
                required
                matInput
                placeholder="Enter Here">
              <mat-hint>valid username</mat-hint>
            </mat-form-field>

            <!--password field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input
                [(ngModel)]="loginData.password"
                name="password"
                required
                type="password"
                matInput placeholder="Enter Here">
            </mat-form-field>

            <a [routerLink]="'/forget/password/'">Forget Password</a>
            <div class="container text-center">
              <div class="example-button-row">
                <button mat-raised-button type="submit" color="primary">Login</button>
                <button mat-raised-button type="reset" color="accent" class="m-lg-2">Reset</button>
              </div>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
