<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <!--instructions-->
      <div class="col-md-2">
        <h2>Instructions</h2>
      </div>
      <!--questions-->
      <div class="col-md-8 mt20">
        <ng-container *ngIf="quiz.questionDTOS">
          <h1>On Going Quiz <b>{{quizTitle}}</b></h1>
        </ng-container>

        <mat-card *ngFor="let question of quiz.questionDTOS;let  i = index" class="mt-2">
          <mat-card-content>

            <label id="example-radio-group-label">
              <b><strong>Q{{i + 1}}.</strong><span [innerHTML]="question.content" class="ml10"></span></b>
            </label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="question.answer">
              <mat-radio-button class="example-radio-button" [value]="question.option1">
                {{question.option1}}
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="question.option2">
                {{question.option2}}
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="question.option3">
                {{question.option3}}
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="question.option4">
                {{question.option4}}
              </mat-radio-button>
            </mat-radio-group>

          </mat-card-content>
        </mat-card>

        <div class="container text-center mt20 mb20">
          <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
        </div>

      </div>
      <!--progress-->
      <div class="col-md-2">
        Hi
      </div>
    </div>
  </div>
</div>

{{quiz   | json}}
