<mat-card class="mt20" *ngFor="let quiz of quizzes">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{ quiz.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ quiz.categoryDTO.title }}
    </mat-card-subtitle>
    <mat-card-subtitle>
      Author: {{ quiz.author }}
    </mat-card-subtitle>
    <!--author-->
  </mat-card-header>
  <mat-card-content [innerHTML]="quiz.description"></mat-card-content>
  <mat-card-actions>
    <button
      [routerLink]="'/admin/view-questions/' + quiz.id + '/' + quiz.title"
      mat-flat-button color="accent">
      Questions
    </button>
    <button class="ml20"
      [routerLink]="'/admin/quiz-results/' + quiz.id + '/' + quiz.title"
      mat-flat-button color="accent">
      Results
    </button>
    <button mat-stroked-button color="accent" class="ml20">
      Max Marks: {{ quiz.maxMarks }}
    </button>
    <button mat-stroked-button color="accent" class="ml20">
      Questions: {{ quiz.numberOfQuestions }}
    </button>
    <button [routerLink]="'/admin/quiz/update/' + quiz.id" mat-flat-button color="accent" class="ml20">
      Update
    </button>
    <button mat-flat-button color="accent" class="ml20">Attempts</button>
    <button mat-flat-button color="warn" class="ml20" (click)="deleteQuiz(quiz.id)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>

<div class="container text-center mt20">
  <button mat-raised-button color="primary" routerLink="/admin/add-quiz">
    Add New Quiz
  </button>
</div>
